form {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label {
    width: 60px;
    margin-right: 10px;
}

.form-group input {
    flex-grow: 1;
    padding: 5px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    align-self: center;
}

button:hover {
    background-color: #0056b3;
}